@model Web_Homework.Models.Person

@{
    ViewData["Title"] = "Person Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person Index</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <h2>Update Person Page</h2>
    @using (Html.BeginForm("UpdatePerson", "Person", FormMethod.Post))
    {
        @Html.LabelFor(person => person.PersonID)
        @Html.TextBoxFor(person => person.PersonID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.PersonName)
        @Html.TextBoxFor(person => person.PersonName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.PersonSurname)
        @Html.TextBoxFor(person => person.PersonSurname, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.PersonPhone)
        @Html.TextBoxFor(person => person.PersonPhone, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.PersonEmail)
        @Html.TextBoxFor(person => person.PersonEmail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.ImageUrl)
        @Html.TextBoxFor(person => person.ImageUrl, new { @class = "form-control" })
        <br />
        @Html.LabelFor(person => person.Role)
        @*@Html.TextBoxFor(person => person.CategoryID, new { @class = "form-control" })
            <br />*@
        @Html.DropDownListFor(person => person.RoleID, (List<SelectListItem>)ViewBag.listItemsBag, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Save</button>
    }

</body>
</html>
