@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model IPagedList<Web_Homework.Models.Person>

@{
    ViewData["Title"] = "People Page";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person Index</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <h2 key=19>People List</h2>
    <ul class="nav nav-pills mb-auto mt-2" style="display: flex; flex-direction: row; padding: 20px; align-items: center; justify-content: center;">
        @await Component.InvokeAsync("Role")
    </ul>
    <table class="table table-bordered mb-3">
        <tr>
            <td>ID</td>
            <td key=20>Image</td>
            <td key=21>Person Name</td>
            <td key=22>Person Surname</td>
            <td key=23>Person Phone</td>
            <td key=24>Person E-mail</td>
            <td key=12>Role Name</td>
            <td key=13>Delete</td>
            <td key=14>Update</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonID</td>
                <td><img src="@item.ImageUrl" class="img-fluid p-1" style="width:100px; height:100px" /></td>
                <td>@item.PersonName</td>
                <td>@item.PersonSurname</td>
                <td>@item.PersonPhone</td>
                <td>@item.PersonEmail</td>
                <td>@item.Role.RoleName</td>
                <td><a key=13 href="/Person/DeletePerson/@item.PersonID" class="btn btn-danger">Delete</a></td>
                <td><a key=14 href="/Person/GetPerson/@item.PersonID" class="btn btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a key=25 href="/Person/AddPerson" class="btn btn-primary" style="margin-bottom:200px">Add New Person</a>
</body>
</html>