@model List<Web_Homework.Models.Person>

@{
    ViewData["Title"] = "People Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person Index</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <h2>People List</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>Person Name</td>
            <td>Person Surname</td>
            <td>Person Phone</td>
            <td>Person E-mail</td>
            <td>Category Name</td>
            <td>Delete</td>
            <td>Update</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonID</td>
                <td>@item.PersonName</td>
                <td>@item.PersonSurname</td>
                <td>@item.PersonPhone</td>
                <td>@item.PersonEmail</td>
                <td>@item.Category.CategoryName</td>
                <td><a href="#" class="btn btn-danger">Delete</a></td>
                <td><a href="#" class="btn btn-success">Update</a></td>
            </tr>
        }
    </table>
    <a href="/Person/AddPerson" class="btn btn-primary">New Person</a>

</body>
</html>
