@model List<Web_Homework.Models.Person>
<tr>
    <td>ID</td>
    <td key=20>Image</td>
    <td key=21>Person Name</td>
    <td key=22>Person Surname</td>
    <td key=23>Person Phone</td>
    <td key=24>Person E-mail</td>
    <td key=13>Delete</td>
    <td key=14>Update</td>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.PersonID</td>
        <td><img src="@item.ImageUrl" class="img-fluid p-1" style="width:100px; height:100px" /></td>
        <td>@item.PersonName</td>
        <td>@item.PersonSurname</td>
        <td>@item.PersonPhone</td>
        <td>@item.PersonEmail</td>
        <td><a key=13 href="/Person/DeletePerson/@item.PersonID" class="btn btn-danger">Delete</a></td>
        <td><a key=14 href="/Person/GetPerson/@item.PersonID" class="btn btn-success">Update</a></td>
    </tr>
}