@model Web_Homework.Models.PersonCategory

@{
    ViewData["Title"] = "Category Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category Index</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <h2>Add Category Page</h2>
    <br />
    @using (Html.BeginForm("AddPersonCategory", "PersonCategory", FormMethod.Post))
    {
        @Html.LabelFor(category => category.PersonCategoryName)
        @Html.TextBoxFor(category => category.PersonCategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(category => category.PersonCategoryName, "", new { @style = "color:red" })
        <br />
        @Html.LabelFor(category => category.PersonCategoryDescription)
        @Html.TextBoxFor(category => category.PersonCategoryDescription, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Save</button>
    }
</body>
</html>
